@{
    ViewData["Title"] = "Register";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="vh-100" style="background-color: gray;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 d-none d-md-block">
                            <img src="https://img.freepik.com/premium-photo/view-from-gym-instructor_853677-67581.jpg"
                                 alt="register form"
                                 class="img-fluid"
                                 style="border-radius: 1rem 0 0 1rem; height: 100%; object-fit: cover;">
                        </div>

                        <div class="col-md-6 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                @if (!ViewData.ModelState.IsValid)

                                {
                                        <div class="alert alert-danger">
                                        @Html.ValidationSummary(false)
                                        </div>
                                }

                                <form method="post" asp-action="Register" asp-controller="User">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">Logo</span>
                                    </div>
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create a new account</h5>

                                    <div class="form-outline mb-4">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" id="name" name="name" class="form-control" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label for="email" class="form-label">Email address</label>
                                        <input type="email" id="email" name="email" class="form-control" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" id="password" name="password" class="form-control" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label for="confirm-password" class="form-label">Confirm Password</label>
                                        <input type="password" id="confirm-password" name="ConfirmPassword" class="form-control" required />
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                                    </div>

                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        Already have an account? <a href="@Url.Action("Login", "User")" style="color: #393f81;">Login here</a>
                                    </p>
                                    <a href="#" class="small text-muted">Terms of use</a>
                                    <a href="#" class="small text-muted">Privacy policy</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
